[data-theme="dark"] .chroma { background-color: #2a2a3e }
[data-theme="dark"] .chroma .err { color: #f92672 }
[data-theme="dark"] .chroma .lnt { color: #7f7f7f }
[data-theme="dark"] .chroma .ln { color: #7f7f7f }
[data-theme="dark"] .chroma .k { color: #66d9ef; font-weight: bold }
[data-theme="dark"] .chroma .kc { color: #66d9ef; font-weight: bold }
[data-theme="dark"] .chroma .kd { color: #66d9ef; font-weight: bold }
[data-theme="dark"] .chroma .kn { color: #66d9ef; font-weight: bold }
[data-theme="dark"] .chroma .kp { color: #66d9ef; font-weight: bold }
[data-theme="dark"] .chroma .kr { color: #66d9ef; font-weight: bold }
[data-theme="dark"] .chroma .kt { color: #a6e22e }
[data-theme="dark"] .chroma .na { color: #a6e22e }
[data-theme="dark"] .chroma .nb { color: #f8f8f2 }
[data-theme="dark"] .chroma .bp { color: #f8f8f2 }
[data-theme="dark"] .chroma .nc { color: #a6e22e; font-weight: bold }
[data-theme="dark"] .chroma .no { color: #66d9ef }
[data-theme="dark"] .chroma .nd { color: #a6e22e }
[data-theme="dark"] .chroma .ni { color: #f8f8f2 }
[data-theme="dark"] .chroma .ne { color: #a6e22e; font-weight: bold }
[data-theme="dark"] .chroma .nf { color: #a6e22e; font-weight: bold }
[data-theme="dark"] .chroma .nl { color: #f8f8f2 }
[data-theme="dark"] .chroma .nn { color: #f8f8f2 }
[data-theme="dark"] .chroma .nt { color: #f92672 }
[data-theme="dark"] .chroma .nv { color: #f8f8f2 }
[data-theme="dark"] .chroma .vc { color: #f8f8f2 }
[data-theme="dark"] .chroma .vg { color: #f8f8f2 }
[data-theme="dark"] .chroma .vi { color: #f8f8f2 }
[data-theme="dark"] .chroma .s { color: #e6db74 }
[data-theme="dark"] .chroma .sa { color: #e6db74 }
[data-theme="dark"] .chroma .sb { color: #e6db74 }
[data-theme="dark"] .chroma .sc { color: #e6db74 }
[data-theme="dark"] .chroma .dl { color: #e6db74 }
[data-theme="dark"] .chroma .sd { color: #e6db74 }
[data-theme="dark"] .chroma .s2 { color: #e6db74 }
[data-theme="dark"] .chroma .se { color: #ae81ff }
[data-theme="dark"] .chroma .sh { color: #e6db74 }
[data-theme="dark"] .chroma .si { color: #e6db74 }
[data-theme="dark"] .chroma .sx { color: #e6db74 }
[data-theme="dark"] .chroma .sr { color: #e6db74 }
[data-theme="dark"] .chroma .s1 { color: #e6db74 }
[data-theme="dark"] .chroma .ss { color: #e6db74 }
[data-theme="dark"] .chroma .m { color: #ae81ff }
[data-theme="dark"] .chroma .mb { color: #ae81ff }
[data-theme="dark"] .chroma .mf { color: #ae81ff }
[data-theme="dark"] .chroma .mh { color: #ae81ff }
[data-theme="dark"] .chroma .mi { color: #ae81ff }
[data-theme="dark"] .chroma .il { color: #ae81ff }
[data-theme="dark"] .chroma .mo { color: #ae81ff }
[data-theme="dark"] .chroma .o { color: #f92672; font-weight: bold }
[data-theme="dark"] .chroma .ow { color: #f92672; font-weight: bold }
[data-theme="dark"] .chroma .c { color: #75715e; font-style: italic }
[data-theme="dark"] .chroma .ch { color: #75715e; font-style: italic }
[data-theme="dark"] .chroma .cm { color: #75715e; font-style: italic }
[data-theme="dark"] .chroma .c1 { color: #75715e; font-style: italic }
[data-theme="dark"] .chroma .cs { color: #75715e; font-weight: bold; font-style: italic }
[data-theme="dark"] .chroma .cp { color: #75715e; font-weight: bold; font-style: italic }
[data-theme="dark"] .chroma .cpf { color: #75715e; font-weight: bold; font-style: italic }
[data-theme="dark"] .chroma .gd { color: #f92672 }
[data-theme="dark"] .chroma .ge { font-style: italic }
[data-theme="dark"] .chroma .gr { color: #f92672 }
[data-theme="dark"] .chroma .gh { color: #75715e }
[data-theme="dark"] .chroma .gi { color: #a6e22e }
[data-theme="dark"] .chroma .go { color: #75715e }
[data-theme="dark"] .chroma .gp { color: #f92672; font-weight: bold }
[data-theme="dark"] .chroma .gs { font-weight: bold }
[data-theme="dark"] .chroma .gu { color: #75715e }
[data-theme="dark"] .chroma .gt { color: #f92672 }
[data-theme="dark"] .chroma .gl { text-decoration: underline }
[data-theme="dark"] .chroma .w { color: #f8f8f2 }
[data-theme="dark"] .chroma .hl { background-color: #3a3a4e }
